$color-frame: #4c5854;
$color-bg-button: #f6f9f8;
$color-bg-hover: #73c15e;

h1 {
  margin-bottom: 50px;

  span {
    font-size: 16px;
  }
}

.gameContainer {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.panels {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

.boardContainer {
  display: flex;
  flex-flow: column nowrap;
}

.Board {
  box-shadow: 0 0 0 7px $color-frame;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
  max-height: 340px;
  max-width: 340px;
}

.checkWordsBt {
  background-color: $color-bg-button;
  border: 0;
  box-shadow: -7px 0 0 0 $color-frame;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 15px;
  position: relative;

  backface-visibility: hidden;
  display: block;
  z-index: 1;
  overflow: hidden;
  transition: opacity .3, color .3s, background-color .3s;
  transition-timing-function: cubic-bezier(.2, 1, .3, 1);

  &:hover {
    color: #fff;
    background-color: lighten($color-bg-hover, 10%);

    &::before {
      background-color: $color-frame;
      transform: rotate3d(0, 0, 1, 0deg);
      transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250%;
    height: 100%;
    background-color: rgba($color-frame, .6);
    z-index: -1;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform-origin: 0% 100%;
    transition: transform .4s, background-color .3s;
  }

  &:active {
    background-color: $color-frame;
    opacity: .9;

    &::before {
      background-color: lighten($color-frame, 5%);
    }
  }
}

@media (max-width: 767px) {
  .Board {
    margin: auto;
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
  }

  .checkWordsBt {
    box-shadow: none;
    width: 340px;
  }

  .gameContainer {
    flex-wrap: nowrap;
    min-height: 100vh;
  }

  .boardContainer {
    display: block;
  }

  .panels {
    flex-flow: column nowrap;
  }
}
