input:focus {
  outline: none;
}

.Tile {
  position: relative;
  display: flex;
  flex: 1 0 30px;
  width: 32px;
  height: 32px;
  border: 1px solid #d1d1d1;
}

.tileInput {
  margin: 0;
  padding: 0;
  border: none;
  flex: 1 0 auto;
  width: 32px;
  height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

.noWord {
  background-color: #333;
  border: 1px solid #333;
  cursor: initial;
}

.originNumbers {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
}

.wordSelected {
  background-color: #ddd;
}
